POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=personal_finances
POSTGRES_DB_TEST=personal_finances_test
POSTGRES_PORT=5432
POSTGRES_PORT_TEST=5433

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/personal_finances"
DATABASE_URL_TEST="postgresql://postgres:postgres@localhost:5433/personal_finances_test"
